*{
    margin:0;
    padding:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
:root
{
    --clair : #fff;
    --beige :#987654;
    --black :##000000;
    --l35 :35px;
    --l50 :50px;
}
html
{
    font-family: 'Abhaya Libre';
    color: var(--black);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/*style de liens*/

.logo
{
    color:var(--black);
    font-size: var(--l35);
    margin-right:auto;
}
.navbar .icons{
    margin-left: 20px;
}
.navbar 
{
    display: flex;
    font-family: 'Abhaya Libre';
    padding: var(--l50);
    width: 100vw;
}

a{
    
    font-size: var(--l18);
}
/*.header-1
{
    font-family: 'Abhaya Libre';
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: var(--l50);
    position: absolute;
    width: 100vw;
    background: var(--black);

}*/
.nav-links
{
    display: flex;
    align-items: center;
}
.nav-links li
{
    margin: 0 var(--l30);
}
.nav-links li:first-child
{
    margin-left: 0;
}
.nav-links li:last-child
{
    margin-right: 0;
}
header
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
