*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "abhaya libre";
    overflow-x: hidden;
}

:root
{
    --clair : #fff;
    --beige :#987654;
    --black :#000000;
    
}


.navbar 
{
    display: flex;
    justify-content:space-between;
    padding: 2vw;
    width: 100vw;
    height: 5vw;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);

}

.logo
{
    font-family: 'Jim Nightshade';
    color: var(--clair);
    font-size: 3.7em;
    
}

.nav-links
{
    font-size:2em;
    font-family: 'Abhaya Libre';
    display: flex;
    justify-content:space-between;
    cursor: pointer;
}

li a
{
    color: var(--clair);
    padding-right:4em;
}

li a:hover
{
    opacity: 0.8;
}
.icons{
    display: flex;
}
.icons i
{
    font-size: 2.5em;
    color:#fff;
    padding:0.5em;
    cursor: pointer;
    
}

.icons span
{
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 2.5%;
    right: 8.5%;
    padding:3px 10px;
    font-size: 1em; /* Adjusted font size */

}

@media (max-width: 1150px) {
    .navbar {
        /*flex-direction: column;*/
        flex-direction: row;
        height: auto; 
        padding: 2vw 0; 
    }

    .logo {
        margin-bottom: -0.75em;
        font-size: 3em;
    }

    .nav-links {
        flex-direction: row; 
        align-items: center; 
        margin-top: 1em; 
    }

    li a {
        padding: 0.5em;
    }

    .icons {
        margin-top: 1em;
    }
}

header
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/*********************************************************************************************/
header{
    background-image: url("../../assets/HOME_PIC/header.jpg");
    /*background-color: burlywood;/**TESTTT*/
    margin-bottom: 30px;
    background-size: cover;
    background-position:center;
    width: 100vw;
    height: 78vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
header h3 , header h1 {
    text-align: center;
    color: white;
}
header h3 {
    font-size:  2em;
}
header h1 {
    font-size:  6em;
}
/*----------------------------------------------------------------------*/
.title_HOME{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title_HOME h1{
    font-size: 2.8em;
}
/*----------------------------------------------------------------------*/
.row_HOME{
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
    flex-wrap: wrap;
    gap: 30px;
}
.col_HOME{
    width: 27vw;
    
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.col_HOME .content_HOME{
    position: relative;
    transition: all 1s ease;
    height: 45vh;
    overflow: hidden;
}
.col_HOME .content_HOME img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.col_HOME .content_HOME button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    border: 1px solid white;
    width: 15vw;
    height: 10vh;
    background-color: transparent;
    cursor: pointer;
    font-size: 2em;
    transition: all 1s ease;
    opacity: 0;

}
.col_HOME  .content_HOME  button:hover{
    background-color: var(--beige);
}
.col_HOME  .content_HOME  button a{
    color: white;
}
.col_HOME .content_HOME:hover button{
    opacity: 1;
}


.col_HOME .content_HOME span{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
}
.col_HOME .content_HOME:hover span{
    backdrop-filter: blur(2px);
    background: linear-gradient(transparent, var(--beige));
}
.col_GIFT a{
    color: white;
    text-decoration: none;
}
/*----------------------------------------------------------------------*/
.BLOG
{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 5vh;
    margin-top: 4vh;
}
.Parent{
    height: 40vh;
    display: flex;
}

.Text_Child{
    width: 75%;
    padding-left: 2%;
    padding-right: 2%;
}
.Pic_Child {
    width: 25%;
    overflow-y: hidden;
}
/*IMAGES*/
.Pic_Child img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}
/*PARAGHRAPHES*/
.Text_Child p { 
    padding-top: 2%;
    font-size: 1.5em;
}
/*TITLES*/
.Text_Child h2{
    padding-top: 2%;
    font-size: 2.5em;
}
/*Read More*/
.Read_More{
    margin-top: 4vh;
    float: right;
    margin-right: 10%;
    padding: 12px 25px;
    font-size: 1.2em;
    color: white;
    background-color: black;
    border-radius: 30px;
    display: block;
}
.Read_More a{
    color :white ;
}




/******* footer ********/
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:'Abhaya Libre';
}

.footer_row 
{
    display:flex;
    height: 30%;
    width: 100%;
    gap:2em;
    margin: auto;
    margin-top: 10%;
    justify-content:space-between;
    flex-wrap: wrap;
    position: relative;
}

.footer_column 
{   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    flex:1;
    margin-bottom: 2em;
  
}

hr{
    height: 13rem;

}
.footer_column img 
{
    width:3rem;
    height: auto;
    justify-content: center;
    margin-top:15%

}

.footer_column h4 
{
    align-items: center;
    text-align: center;
    font-family: "Abhaya Libre";
    font-size: 1rem;
    margin-top: 1.5em;
}

.footer_column p 
{
    margin-top: 12%;
    text-align: center;
    font-family: "Abhaya Libre";

}

.footer_bas
{
    background-color: black;
    color:white;
    width:100%;
    font-family:'Abhaya Libre';
    justify-content: center;
    margin-top: 0.5rem;
    font-size: 1rem;
    text-align: center;
    display: block;
}

@media (max-width: 768px) {
    .footer_row{
        margin-top:25rem;
    }
    .footer_column {
        width: 90%; 
        margin-left: 5%; 
        margin-right: 5%; 
        margin-bottom: 2em; 
    }

    .footer_bas 
    {
        font-size: 1.5em;
    }
    

}