*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "abhaya libre";
    overflow-x: hidden;
}
.navbar 
{
    display: flex;
    justify-content:space-between;
    padding: 2vw;
    width: 100vw;
    height: 5vw;
    align-items: center;
    background: linear-gradient(to bottom, rgb(23, 21, 21,0.7), rgb(92, 87, 87,0.7));

}

.logo
{
    font-family: 'Jim Nightshade';
    color: var(--clair);
    font-size: 3.7em;
    
}

.nav-links
{
    font-size:2em;
    font-family: 'Abhaya Libre';
    display: flex;
    justify-content:space-between;
}

li a
{
    color: var(--clair);
    padding:4em;
}

.icons i
{
    font-size: 2.5em;
    /*margin-top: 1em;*/
    color:#fff;
    padding:0.5em;
    
}

@media (max-width: 1150px) {
    .navbar {
        /*flex-direction: column;*/
        flex-direction: row;
        height: auto; 
        padding: 2vw 0; 
    }

    .logo {
        margin-bottom: -0.75em;
        font-size: 3em;
    }

    .nav-links {
        flex-direction: row; 
        align-items: center; 
        margin-top: 1em; 
    }

    li a {
        padding: 0.5em;
    }

    .icons {
        margin-top: 1em;
    }
}

header{
    /*background-image: url("");*/
    background-color: burlywood;/**TESTTT*/
    margin-bottom: 30px;
    background-size: cover;
    background-position:center;
    width: 100vw;
    height: 78vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
header p{
    text-align: center;
    color: white;
    font-size:  6.25em;
    
}
.line{
    background-color: antiquewhite;
    width:31.5vw;
    height: 0.1vh;
    border-radius: 5px;
}
/*----------------------------------------------------------------------*/
.row_GIFT{
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 12vh;
    flex-wrap: wrap;
    gap :2vw;
}
.col_GIFT{
    width: 27vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
}
.col_GIFT .content_GIFT{
    position: relative;
    transition: all 1s ease;
    overflow-y: hidden;
    flex: 85%;
}
.col_GIFT .content-text_GIFT{
    width: 100%;
    flex: 15%;
}

.col_GIFT .content_GIFT img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.col_GIFT .content-text_GIFT p{
    font-size: 1.9em;
    display: inline-block;
    color: black;
    padding-top: 3%;
    overflow-y: hidden;
}
.row_GIFT .col_GIFT .content-text_GIFT p:last-child{
    float: right;
}
/*----------------------------------------------------------------------*/
.row_GIFT .col_GIFT .content_GIFT button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    border: 1px solid white;
    width: 15vw;
    height: 10vh;
    background-color: transparent;
    cursor: pointer;
    font-size: 2em;
    transition: all 1s ease;
    opacity: 0;

}
.row_GIFT .col_GIFT  .content_GIFT  button a{
    color: white;
    text-decoration: none;
}
.row_GIFT .col_GIFT  .content_GIFT  button:hover{
    background-color: gray;
}
.row_GIFT .col_GIFT .content_GIFT:hover button{
    opacity: 1;
}


.row_GIFT .col_GIFT .content_GIFT span{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
}
.row_GIFT .col_GIFT .content_GIFT:hover span{
    backdrop-filter: blur(2px);
    background: linear-gradient(transparent, white);
}
/*----------------------------------------------------------------------*/
.customize{
    background-image: url("");
    background-color: antiquewhite;/**TESTTT*/
    margin-top: 50vh;
    background-size: cover;
    background-position:center;
    width: 90%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 12vh auto;
}
.customize h1{
    font-size: 7em;
}
.customize h2{
    font-size: 3em;
}

