*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "abhaya libre";
    overflow-x: hidden;
}

:root
{
    --clair : #fff;
    --beige :#987654;
    --black :#000000;
    
}
.navbar 
{
    display: flex;
    justify-content:space-between;
    padding: 2vw;
    width: 100vw;
    height: 5vw;
    align-items: center;
    background: rgb(0, 0, 0, 0.8);

}

.logo
{
    font-family: 'Jim Nightshade';
    color: var(--clair);
    font-size: 3.7em;
    
}

.nav-links
{
    font-size:2em;
    font-family: 'Abhaya Libre';
    display: flex;
    justify-content:space-between;
    cursor: pointer;
}

li a
{
    color: var(--clair);
    padding-right:4em;
}

li a:hover
{
    opacity: 0.8;
}

.icons i
{
    font-size: 2.5em;
    color:#fff;
    padding:0.5em;
    cursor: pointer;
    
}
.icons{
    display: flex;
}
.icons span
{
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 2.5%;
    right: 8.5%;
    padding:3px 10px;
    font-size: 1em; /* Adjusted font size */

}

@media (max-width: 1150px) {
    .navbar {
        /*flex-direction: column;*/
        flex-direction: row;
        height: auto; 
        padding: 2vw 0; 
    }

    .logo {
        margin-bottom: -0.75em;
        font-size: 3em;
    }

    .nav-links {
        flex-direction: row; 
        align-items: center; 
        margin-top: 1em; 
    }

    li a {
        padding: 0.5em;
    }

    .icons {
        margin-top: 1em;
    }
}


/**{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth; 
}*/
html{
    font-family: "Abhaya Libre", serif;
    overflow-x: hidden;  
}
.content{
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10vh;
}
header{ 
    background-image: url("../../assets/ChocoCoIMGs/HEADER.jpg");
    background-position: center;
    background-size: cover;   
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    
    position: relative;
}
h1{
    font-size: 6.25em;
}

/*---------------------------------------*/

h2{
    font-size: 3.75em;
}
p{
    font-size: 1.25em;
    padding-top: 4%;
    padding-left: 15%;
    padding-right: 15%;
}

/*---------------------------------------*/

.row{
    height: 70vh;
    display: flex;
    width: 85vw;
}

.col1 , .col11 , .col2 , .col22 , .col3 , .col33{
    flex: 1;
    overflow-y: hidden;
}
.col11 , .col2 , .col33{
    text-align: center;
    padding-top: 1.5%;
    position: relative;
}
/*IMAGES*/
.col1 img , .col22 img , .col3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*LINES*/
.line{
    background-color: white;
    height: 0.3vh;
    border-radius: 5px;
    position: absolute;  
}
.col11 .line , .col33 .line{
    left: 0;
    top:9%;
    right:85%;
}
.col2 .line{
    right:0;
    left:85%;
    top:9%;
}
/*---------------------------------------*/
/**** footer ****/

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:'Abhaya Libre';
}

.footer_row 
{
    display:flex;
    height: 30%;
    width: auto;
    gap:2em;
    margin: 0 auto;
    justify-content:space-between;
    flex-wrap: wrap;
    position: relative;
}

.footer_column 
{   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    flex:1;
    margin-bottom: 2em;
  
}

hr{
    height: 13rem;

}
.footer_column img 
{
    width:3rem;
    height: auto;
    justify-content: center;
    margin-top:15%;
}

.footer_column h4 
{
    align-items: center;
    text-align: center;
    font-family: "Abhaya Libre";
    font-size: 1rem;
    margin-top: 1.5em;
}

.footer_column p 
{
    margin-top: 12%;
    text-align: center;
    font-family: "Abhaya Libre";

}

.footer_bas
{
    background-color: black;
    color:white;
    width:100%;
    font-family:'Abhaya Libre';
    justify-content: center;
    margin-top: 0.5rem;
    font-size: 1rem;
    text-align: center;
    display: block;
}

@media (max-width: 768px) {
    .footer_row{
        margin-top:25rem;
    }
    .footer_column {
        width: 90%; 
        margin-left: 5%; 
        margin-right: 5%; 
        margin-bottom: 2em; 
    }

    .footer_bas 
    {
        font-size: 1.5em;
    }
    

}