*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "abhaya libre";
    overflow-x: hidden;
    
    
}

header{
    background-image: url("../../assets/product_images/bg_blog.jpg");
    margin-bottom: 20px;
    background-size: cover;
    background-position:center;
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
header .title{
    text-align: center;
    color: white;
    font-size: 8em;  
}
header .sub-title{
    text-align: center;
    color: white;
    font-size: 3em;  
}
.recipe-title{
    font-weight: bolder;
    font-size: 50px;
    text-align: center;
    margin: 1em 0;    

}

.card-container
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5vh;
    margin-bottom: 5vh;

}

.card
{
    width: 325px;
    background-color: #0f0f0f;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin: 20px;
    transition: all 1s ease;

}

.card:hover
{
    transform: scale(1.02);
    cursor: pointer;
}

.card img{
    width:100%;
    height: auto;
}
.card-content
{
    padding: 16px;
}
.card-content h3
{
    font-size: 28px;
    margin-bottom: 8px;
}
.card-content p
{   color: #666;
    font-size: 15px;
    margin-bottom: 8px;
    line-height: 1.3;
}
.card-content .btn
{   
    display: inline-block;
    padding: 8px 16px;
    background-color: #987654;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
    color: #fff;

}

/**************** style slides **************/

/* CAROUSEL CSS */
.carousel {position: relative;}
.carousel::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: inset 0px 0px 120px 30px rgba(0,0,0,0.35);
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.carousel ul {
  overflow: auto; 
  display: flex; 
  height: 40vw;
  max-height: 500px;
  scroll-snap-type: x mandatory;
  scroll-snap-points-y: repeat(100%);
  scroll-behavior: smooth;
  background: gray;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  width: 100%;
}
.carousel ul::-webkit-scrollbar {display: none; /* Hide scrollbar for Chrome, Safari and Opera */} 
.carousel ul li {
  width: 100%;
  min-width: 100%; 
  list-style: none; 
  background: url(https://images.unsplash.com/photo-1481391319762-47dff72954d9?q=80&w=1530&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) center center / cover no-repeat; 
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  text-shadow: 0px 0px 10px rgba(0,0,0,0.75);
}
.carousel ul li div {
    z-index: 9;
}
.carousel ul li div a {
    /*color: white;*/
    display: inline-block;
    background: white;
    text-shadow: none;
    color: black;
    padding: 5px 15px;
    font-size: 18px;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 10px;
}
.carousel ol {
    position: absolute;
    bottom: 15px;
    display: flex;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;
}
.carousel ol li {list-style: none; padding: 0 5px;}
.carousel ol li a {display: block; height: 10px; width: 10px; border: 2px solid white; background: transparent; border-radius: 100%;}
.carousel ol li.selected a {background: white;}
.carousel .prev, .carousel .next {user-select:none; cursor: pointer; font-size: 50px; color: white; position: absolute; left: 0; padding: 15px; top: 50%; transform: translateY(-50%); z-index: 9;}
.carousel .next {left: auto; right: 0;}

/* RESPONSIVE CSS */
@media only screen and (max-width: 600px) {
  .carousel ul li div {display: none;}
}

/* DEMO CSS */
.carousel ul li:nth-child(2) {
    background-image: url(https://images.unsplash.com/photo-1526081715791-7c538f86060e?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);}
.carousel ul li:nth-child(3) {
    background-image: url(https://images.unsplash.com/photo-1614631016624-cb89bceec02c?q=80&w=1458&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);}
.carousel ul li:nth-child(4) {
    background-image: url(https://media.istockphoto.com/id/498738354/photo/chocolate-box-in-the-foreground.webp?b=1&s=170667a&w=0&k=20&c=JDvMMW6tXhYIuL3YFh2Ux1PZRXKh_dqnkb28h6EqrZ8=);}
p, h2 {
    margin: 15px auto;
    padding: 0 15px;
    max-width: 800px;
}
h2 {
    margin-top: 30px;
}