*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:'Abhaya Libre';
}

#maps
{
    margin: auto;
    margin-bottom: 15%;
    position: static;
    width: 90%;
    
}

.footer_containers
{
    color:#987654;
    background-color: #fff;
    border: 2px solid #987654;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    top: 60%; 
    left: 50%; 
    padding: 1rem 0;
    transform: translate(-50%, -50%);
    position: static;

}

.footer_contactus{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
    margin-top: 2rem;  
}

.footer_containers h1
{
    color: #987654;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 1rem;
    height:18%;
    width: 100%;
    
}

.footer_description
{   

    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
    font-size: 1.1em;
    top: 30%;
    
    
}

.footer_formulaire
{   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border:none;
    width: 60%;
    font-size: 1em;


}

i 
{
    display: inline-block;
    vertical-align: middle;
    margin-right: 2%;
    
}

#location
{
    margin-bottom: 11%;
}
#phone
{
    margin-bottom: 11%;
}


input,select,textarea 
{
    margin: 10px 0 0 0;
    width: 90%;
    min-height: 2em;
    max-height: 4em;
    color: #987654;
    font-family:'Abhaya Libre';
    font-size: 0.9em;
    border: 0.5px solid lightgray;
}

textarea
{
    max-height: 1rem;
    resize: none;
}

input[type="submit"] {
    color: #987654;
    display: fixed;
    border: 1px solid #987654;
    justify-items: center;
    border-radius: 1em;
    background-color: #ffff;
    width: 8em;

}

input[type="submit"]:hover {
    background-color: #987654;
    color: #fff;
    cursor: pointer;
    transition: all 1s ease;
}

.footer_row 
{
    display:flex;
    height: 30%;
    width: auto;
    gap:2em;
    margin: 0 auto;
    justify-content:space-between;
    flex-wrap: wrap;
    position: relative;
}

.footer_column 
{   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    flex:1;
    margin-bottom: 2em;
  
}

hr{
    height: 13rem;

}
.footer_column img 
{
    width:3rem;
    height: auto;
    justify-content: center;
    margin-top:15%

}

.footer_column h4 
{
    align-items: center;
    text-align: center;
    font-family: "Abhaya Libre";
    font-size: 1rem;
    margin-top: 1.5em;
}

.footer_column p 
{
    margin-top: 12%;
    text-align: center;
    font-family: "Abhaya Libre";

}

.footer_bas
{
    background-color: black;
    color:white;
    width:100%;
    font-family:'Abhaya Libre';
    justify-content: center;
    margin-top: 0.5rem;
    font-size: 1rem;
    text-align: center;
    display: block;
}

@media (max-width: 768px) {
    .footer_formulaire
    {
        font-size: 0.85em;
        margin-top: 5em;
        width: 40%;
        gap: 1rem;

    }
    .footer_description
    {
        margin-top: 3.25em;
    }
    .footer_row{
        margin-top:25rem;
    }
    .footer_column {
        width: 90%; 
        margin-left: 5%; 
        margin-right: 5%; 
        margin-bottom: 2em; 
    }

    .footer_bas 
    {
        font-size: 1.5em;
    }
    .footer_contactus{
        flex-wrap: wrap;
    }

}