*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "abhaya libre";
}
.row{
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 30px;
    flex-wrap: wrap;
    gap: 30px;
    
}
.col{
    width: 30%;
    display: flex;
    flex-direction: column;
    height: 40%;
}
.col .content{
    width: 100%;
    position: relative;
    transition: all 1s ease;
}
.col .content img{
    width: 100%;
}
.col .content button{
    position: absolute;
    top: 45%;
    left: 34%;
    opacity: 0;
    border: 1px solid white;
    width: 120px;
    height: 38px;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
    transition: all 1s ease;

}
.col .content button:hover{
    background-color: white;
}
.col .content button:hover a{
    color: black;
}
.col .content:hover button{
    opacity: 1;
}
.col .content span{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
}
.col .content:hover span{
    backdrop-filter: blur(2px);
}
.col .content-text{
    width: 100%;
}
.col .content-text p{
    font-size: 30px;
}
.row .col .content-text p:last-child{
    float: right;
}
.title{
    border:2px solid black;
    width: 90%;
    margin: auto;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.col p{
    display: inline-block;
    color: black;
}
.col a{
    color: white;
    text-decoration: none;
}

