*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.row{
    border:2px solid black;
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 30px;
    flex-wrap: wrap;
    gap: 30px;
    
}
.col{
    border: 2px solid red;
    width: 30%;
    
    
}
.col img{
    width: 100%;
}
.title{
    border:2px solid black;
    width: 90%;
    margin: auto;
}
.title h1{
    margin: auto;
}
.col p{
    display: inline-block;
}