* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "abhaya libre";
}
.row {
    width: 90%;
    margin: 0 auto;
}
.row .text {
    display: flex;
    margin-bottom: 15px;
}
.row .text h1:nth-child(2) {
    margin-left: 15px;
}
.row .content{
    width: 90%;
    margin: 15px auto;
}
.row .content table {
    width: 100%;
    text-align: left;
    font-size: 1.5em;
}
.row .content table th { 
    color: gray;
}
.row .content table tr td img {
    width: 30%;
    height: 150px;
    object-fit: cover;
    margin-right: 20px;
}
.row .content table tr td:first-child {
    display: flex;
    align-items: center;

}
.row .content table tr td {
    margin-bottom: 20px;
}
.row .content table tr:last-child td:nth-child(3) {
    color: gray;
}
.row form{
    margin-top: 20px;
}
.row form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.row form input[type="text"],select {
    width: 45%;
    font-size: 1.05em;
}
.row form input,select {
    outline: none;
    display: inline-block;
    border: 0;
    margin-bottom: 50px;
    border-bottom: 2px solid black;

}
.row form input:nth-child(6) {
    width: 70%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.row form button {
    border: 1px solid;
    border-radius: 20px;
    background: transparent;
    border-color: rgba(152, 118, 84, 1);
    color: rgba(152, 118, 84, 1);
    margin-left: 90%;
    font-size: 1.05em;
    width: 300px;
    height: 30px;
    transition: all 1s;

}
.row form button:hover {
    cursor: pointer;
    background-color: rgba(152, 118, 84, 1);
    color: white;
}
