*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth; 
}
html{
    font-family: "Abhaya Libre", serif;
    overflow-x: hidden;  
}
body{
    color: white;
    background-color: black;
}

/*---------------------------------------*/

header{ 
    background-image: url("img/LETSCOOK.jpg");
    background-position: center;
    background-size: cover;   
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 6.25em;
}
h1 span{
    font-size: 2em;
}

/*---------------------------------------*/

h2{
    font-size: 3.75em;
}
p{
    font-size: 1.25em;
}

/*---------------------------------------*/

.ABOUT_THE_RECIPE{
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center; 
}
.ABOUT_THE_RECIPE p{
    width: 45vw;
    padding-top: 2vh;
}
.line{
    background-color: white;
    width:22vw;
    height: 0.3vh;
    border-radius: 5px;
    margin:2vh ;
}

/*---------------------------------------*/

.MAIN_IMAGE{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.MAIN_IMAGE img{
    width: 70vw;
    height: 70vh;
}

/*---------------------------------------*/

.row{
    height: 60vh;
    display: flex;
    padding-top: 5vh;
}

.col1 , .col2{
    flex: 1;
    text-align: center;
    position: relative;
}
.col11 , .col22{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.col11 img{
    height: 100%;
    width: 100%;
    padding-right: 15vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
}
.col22 img{
    height: 100%;
    width: 100%;
    padding-left: 15vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.line2{
    background-color: white;
    height: 0.3vh;
    border-radius: 5px;
    position: absolute;    
}
.col1 .line2{
    right: 0;
    left:31.5vw;
}
.col2 .line2{
    left: 0;
    right:31.5vw;
}

.col1 p { 
    padding-top: 3vh;
    padding-left: 13vw;
    padding-right: 2vw;
}
.col2 p{
    padding-top: 3vh;
    padding-left: 2vw;
    padding-right: 13vw;
}
.col1 h2{
    padding-top: 2vh;
    padding-left: 28vw;
    padding-bottom: 1vh;
}
.col2 h2{
    padding-top: 2vh;
    padding-right: 37vw;
    padding-bottom: 1vh;
}

/*---------------------------------------*/

.Video{
    height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 3vh;
}
.Video .line{
    width: 14vw;
}
.Video .vid{
    margin-top: 4vh;
    width: 90%;
    height: 80%;
}