*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth; 
}
html{
    font-family: "Abhaya Libre", serif;
    overflow-x: hidden;  
}
body{
    color: white;
    background-color: black;
}

/*---------------------------------------*/

header{ 
    background-image: url("img/LETSCOOK.jpg");
    background-position: center;
    background-size: cover;   
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 100px;
}
h1 span{
    font-size: 170px;
}

/*---------------------------------------*/

h2{
    font-size: 60px;
}
p{
    font-size: 20px;
}

/*---------------------------------------*/

.ABOUT_THE_RECIPE{
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center; 
}
.ABOUT_THE_RECIPE p{
    width: 800px;
}
.line{
    background-color: white;
    width: 410px;
    height: 2px;
    border-radius: 5px;
    margin: 15px;
}

/*---------------------------------------*/

.MAIN_IMAGE{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.MAIN_IMAGE img{
    width: 1200px;
    height: 85%;
}

/*---------------------------------------*/

.row{
    height: 60vh;
    display: flex;
    padding-bottom:40px ;
}

.col1 , .col2{
    flex: 1;
    text-align: center;
    position: relative;
}
.col11 , .col22{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.col11 img{
    height: 100%;
    width: 100%;
    padding-right: 345px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.col22 img{
    height: 100%;
    width: 100%;
    padding-left: 345px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.line2{
    background-color: white;
    height: 2px;
    border-radius: 5px;
    position: absolute;    
}
.col1 .line2{
    right: 0;
    left:600px;
}
.col2 .line2{
    left: 0;
    right:633px;
}

.col1 p { 
    padding-top: 25px;
    padding-left: 150px;
    padding-right: 50px;
}
.col2 p{
    padding-top: 25px;
    padding-left: 50px;
    padding-right: 150px;
}
.col1 h2{
    padding-top: 5px;
    padding-left: 550px;
    padding-bottom: 3px;
}
.col2 h2{
    padding-top: 5px;
    padding-right: 700px;
    padding-bottom: 3px;
}

/*---------------------------------------*/

.Video{
    height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.Video .line{
    width: 150px;
}
.Video .vid{
    margin-top: 30px;
    width: 90%;
    height: 80%;
}