*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "abhaya libre";
    overflow-x: hidden;
}

:root
{
    --clair : #fff;
    --beige :#987654;
    --black :#000000;
    
}


.navbar 
{
    display: flex;
    justify-content:space-between;
    padding: 2vw;
    width: 100vw;
    height: 5vw;
    align-items: center;
    background: rgb(0, 0, 0, 0.8);
}

.logo
{
    font-family: 'Jim Nightshade';
    color: var(--clair);
    font-size: 3.7em;
    white-space: nowrap;
}

.nav-links
{
    font-size:2em;
    font-family: 'Abhaya Libre';
    display: flex;
    justify-content:space-between;
    cursor: pointer;
}
li{
    overflow-y: hidden;
}
li a
{
    color: var(--clair);
    padding-right:4em;
    white-space: nowrap;
}

li a:hover
{
    opacity: 0.8;
}
.icons{
    display: flex;
}
.icons i
{
    font-size: 2.5em;
    /*margin-top: 1em;*/
    color:#fff;
    padding:0.5em;
    cursor: pointer;
    
}

.icons span
{
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 2.5%;
    right: 8.5%;
    padding:3px 10px;
    font-size: 1em; /* Adjusted font size */

}
@media (max-width: 1150px) {
    .navbar {
        /*flex-direction: column;*/
        flex-direction: row;
        height: auto; 
        padding: 2vw 0; 
    }

    .logo {
        margin-bottom: -0.75em;
        font-size: 3em;
    }

    .nav-links {
        flex-direction: row; 
        align-items: center; 
        margin-top: 1em; 
    }

    li a {
        padding: 0.5em;
    }

    .icons {
        margin-top: 1em;
    }
}

html{
    font-family: "Abhaya Libre", serif;
    overflow-x: hidden;  
}
.content{
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10vh;
}   
header{ 
    background-image: url("../../assets/RECIPES_IMGs/HEADER.jpg");
    background-position: center;
    background-size: cover;   
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}
h1{
    font-size: 6.25em;
}
h1 span{
    font-size: 2em;
}

/*---------------------------------------*/

h2{
    font-size: 3.75em;
}
p{
    font-size: 1.0em;
}

/*---------------------------------------*/

.ABOUT_THE_RECIPE{
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center; 
}
.ABOUT_THE_RECIPE p{
    width: 45vw;
    padding-top: 2vh;
}
.line{
    background-color: white;
    width:22vw;
    height: 0.3vh;
    border-radius: 5px;
    margin:2vh ;
}

/*---------------------------------------*/

.MAIN_IMAGE{
    width: 70vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.MAIN_IMAGE img{
    width: 70vw;
    height: 80vh;
    object-fit: cover;
}

/*---------------------------------------*/

.row{
    height: 60vh;
    display: flex;
    width: 70vw;
}

.col1 , .col2{
    flex: 1;
    text-align: center;
    position: relative;
    overflow-y: hidden;

}
.col11 , .col22{
    overflow-y:hidden ;
    flex: 1;
}

/*IMAGES*/
.col11 img , .col22 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*LINES*/
.line2{
    background-color: white;
    height: 0.3vh;
    border-radius: 5px;
    position: absolute;  
}
.col1 .line2{
    top:15%;
    right: 0;
    left:30%;
}
.col2 .line2{
    top:15%;
    left: 0;
    right:50%;
}
/*PARAGHRAPHES*/
.col1 p { 
    padding-top: 6.5vh;
    padding-right: 5%;
    width: 35vw;
}
.col2 p{
    padding-top: 6.5vh;
    padding-left: 5%;
    width: 35vw;
}
/*TITLES*/
.col1 h2 {
    margin-right: 5%; 
    text-align: right;
    white-space: nowrap;
}
.col2 h2{
    margin-left: 5%;
    text-align: left;
    white-space: nowrap;
}

/*---------------------------------------*/

.Video{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.Video .line{
    width: 14vw;
}
.Video .vid{
    margin-top: 1%;
    width: 90%;
    height: 80%;
}