*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "abhaya libre";

    
}
body{
    background-color: black;
    width: 100%;
    height: 100%;
}
.info{
    display: flex;
    width: 90vw;
    height: 50vh;
    margin: auto;
}
.info .text{
    color: white;
    margin-left: 2%;
    font-size: 3em;
}
.info hr{
    width: 100%;
}
.info img{
    object-fit: cover;
    width: 30%;
}
.info .text{
    width: 50%;
}
.text .prdctprice{
    display: flex;
    justify-content: space-between;
}
.text .quantity{
    display: flex;
    
}
.quantity .quantity-value{
    margin-left: auto;
    display: flex;
}
.quantity-value button{
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-family: 'Lucida Console';
}
.quantity-value button:first-child{
    margin-right: 10px;
}
.quantity-value button:last-child{
    margin-left: 10px;
}
.quantity-value input{
    background: transparent;
    border: none;
    color: white;
}

