*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "abhaya libre";
    overflow-x: hidden;
}

:root
{
    --clair : #fff;
    --beige :#987654;
    --black :#000000;
    
}
.navbar 
{
    display: flex;
    justify-content:space-between;
    padding: 2vw;
    width: 100vw;
    height: 5vw;
    align-items: center;
    background: linear-gradient(to bottom, rgb(23, 21, 21,0.7), rgb(92, 87, 87,0.7));

}

.logo
{
    font-family: 'Jim Nightshade';
    color: var(--clair);
    font-size: 3.7em;
    
}

.nav-links
{
    font-size:2em;
    font-family: 'Abhaya Libre';
    display: flex;
    justify-content:space-between;
    cursor: pointer;
}

li a
{
    color: var(--clair);
    padding-right:4em;
}

li a:hover
{
    opacity: 0.8;
}

.icons i
{
    font-size: 2.5em;
    color:#fff;
    padding:0.5em;
    cursor: pointer;
    
}
.icons{
    display: flex;
}
.icons span
{
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 2.5%;
    right: 8.5%;
    padding:3px 10px;
    font-size: 1em; /* Adjusted font size */

}

@media (max-width: 1150px) {
    .navbar {
        /*flex-direction: column;*/
        flex-direction: row;
        height: auto; 
        padding: 2vw 0; 
    }

    .logo {
        margin-bottom: -0.75em;
        font-size: 3em;
    }

    .nav-links {
        flex-direction: row; 
        align-items: center; 
        margin-top: 1em; 
    }

    li a {
        padding: 0.5em;
    }

    .icons {
        margin-top: 1em;
    }
}

body{
    background-color: black;
}
.info{
    display: flex;
    width: 90vw;
    margin: auto;
    height: 60vh;
    margin-top: 20px;
}
.info .command{
    color: white;
    margin-left: 2%;
    font-size: 3em;
    

}
.info hr{
    width: 100%;
}
.info img{
    object-fit: cover;
    width: 30%;
    height: 100%;
}
.info .command{
    width: 50%;
    
}
.command .prdctprice{
    display: flex;
    justify-content: space-between;
}

.command .quantity{
    display: flex;
    
}
.quantity .quantity-value{
    margin-left: auto;
    display: flex;
}
.quantity-value button{
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-family: 'Lucida Console';
}
.quantity-value button:first-child{
    margin-right: 10px;
}
.quantity-value button:last-child{
    margin-left: 10px;
}
.quantity-value input{
    background: transparent;
    border: none;
    color: white;
}
.command .add{
    display: block;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    background: none;
    color: white;
    border: none;
    font-size: 1em;
    cursor: pointer;
}
form{
    width: 100%;
    height: 100%;
}
.error{
    background-color: red;
}
.valid{
    background-color: #3ba340;
}
.command form span{
   opacity: 0;
   display: block;
   text-align: center;
   margin-top: 10px;
   animation-name:show;
   animation-duration: 3s;
   font-size: 0.75em;
}
@keyframes show {
    from {opacity: 0;}
    to {opacity: 1;}
}
.similair-articles{
    margin-top: 150px;
    margin: 150px auto;
    width: 90%;
}
.similair-articles .row{
    display: flex;
    gap: 2%;
}
.similair-articles .row .col{
    height: 40vh;
    flex: 1;
    overflow-y: hidden;
}
.similair-articles .row .col img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s;
}
.similair-articles .col img:hover{
    scale: 1.05;
}
.similair-articles p{
    font-size: 3em;
    color: white;
    margin-bottom: 20px;

}
